parameters:
    level: max
    paths:
        - src
        - config
        - tests/src
        - tests/config
    excludePaths:
        - tests/config/rekalogika-mapper
    checkBenevolentUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    treatPhpDocTypesAsCertain: false
    # unused_public:
    #     methods: true
    #     properties: true
    #     constants: true
    ignoreErrors:
        - '#ContainerBuilder::registerAttributeForAutoconfiguration#'
        -
            message: '#Property .* is never assigned .+ so it can be removed from the property type.#'
            reportUnmatched: false
    banned_code:
        non_ignorable: false
    rekalogika-mapper:
        mapperDumpFile: tests/config/rekalogika-mapper/mappings.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/dave-liddament/phpstan-php-language-extensions/extension.neon
    # - vendor/tomasvotruba/unused-public/config/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - config/phpstan-extension.neon

