parameters:
    level: max
    paths:
        - src
        - config
        - tests/src
        - tests/config
    excludePaths:
        - tests/config/rekalogika-mapper
    checkBenevolentUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#ContainerBuilder::registerAttributeForAutoconfiguration#'
        -
            message: '#Property .* is never assigned .+ so it can be removed from the property type.#'
            reportUnmatched: false
        -
            identifier: catch.neverThrown
            reportUnmatched: false
        -
            identifier: classConstant.internalInterface
            path: config/*
        -
            identifier: classConstant.internalClass
            path: config/*
        -
            message: '#Call to an undefined method ReflectionClass<.*>::newLazyGhost#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method ReflectionProperty::skipLazyInitialization#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method ReflectionClass<.*>::initializeLazyObject#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method ReflectionClass<.*>::isUninitializedLazyObject#'
            reportUnmatched: false
        -
            message: '#deprecated class Symfony\\Component\\PropertyInfo\\Type#'
        -
            message: '#of interface Symfony\\Component\\PropertyInfo\\PropertyTypeExtractorInterface:#'
        -
            message: '#deprecated method generateLazyGhost\(\) of class Symfony\\Component\\VarExporter\\ProxyHelper:#'

    banned_code:
        non_ignorable: false
    rekalogika-mapper:
        mapperDumpFile: tests/config/rekalogika-mapper/generated-mappings.php
includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/dave-liddament/phpstan-php-language-extensions/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - phpstan-extension.neon

